:root{
    --azulEscuro: #000227;
    --cinzaAzulado: #17203D;
    --azulClaro: #0070FF;
    --amarelo: #EEC800;
    --laranja: #FF7700;
    --vermelho: #D10300;
    --verde: #00BB1E;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 500;
    background-color: var(--azulEscuro);
    color: var(--branco);
}

h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
h2 {
    font-size: 28px;
    font-weight: 600;
}
h3 {
    font-size: 14px;
}
p{
    font-size: 16px;
    word-spacing: 2px;
}
h2,h3 {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    filter: drop-shadow(0px 0px 3px var(--azulEscuro));
}

header .cabecalho {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 3.5vh 0;
    gap: 2vw;
}

header .cabecalho .titulo /*div*/ {
    flex: 2;
}

header .cabecalho .links /*div*/ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    flex: 3;
}

header .cabecalho .botoes /*div*/ {
    display: flex;
    justify-content: end;
    gap: 2vw;
    flex: 4;
}

button {
    background-color: var(--azulClaro);
    padding: 10px 15px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px;
    width: max-content;
}

header .cabecalho .botoes .login {
    background-color: var(--azulEscuro);
    border: 1px solid var(--branco);
}

header .list {
    list-style: none;
}
header .list a{
    width: max-content;
    display: inline-block;
    text-decoration: none;
    color: var(--branco);
    position: relative;
}
header .list a::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--azulClaro);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
header .list a:hover::after{
    transform: scaleX(1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

main .conteudo1 {
    width: 90%;
    height: 300px;
    margin-top: 15vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
}

main .conteudo1 .texto { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .conteudo1 .imagem {
    width: 48vw;
    height: 27vw;
    margin-left: 10vw;
    margin-right: 5vw;
    border-radius: 40px;
    filter: drop-shadow(0px 0px 60px var(--azulClaro));
}

main .conteudo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 13vw 5vw 3vw 5vw;
    padding: 3vh 0;
    gap: 6vw;
    border-radius: 15px;
    background-color: var(--cinzaAzulado); 
}

main .conteudo2 .divisao1 *, .divisao2 *, .divisao3 *, .divisao4 * {
    background-color: transparent;
}

main .conteudo2 .divisao1, .divisao2, .divisao3, .divisao4 {
    background-color: var(--cinzaAzulado);
    height: 85%;
    width: 16vw;
    padding: 0 0 3vh 0;
    border-radius: 15px;
    transition: background-color .5s;
}

main .conteudo2 .imagem {
    width: 4vw;
    border-radius: 30px;
    padding-top: 1.8vw 0 0 2vw;
}

main .conteudo2 .text1, .text3, .text4 {
    padding-left: 2vw;
    margin-bottom: 5px;
}

main .conteudo2 .text1, .text2, .text4{
    font-size: 16px;
}

main .conteudo2 .text1 {
    padding-top: 5px;
}

main .conteudo2 .text2{
    margin-left: 10px;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
}

main .conteudo2 .text3 {
    font-size: 29px;
}

main .conteudo2 .linhaporc {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}

#id11 {background-color: var(--amarelo);}
#id22 {background-color: var(--laranja);}
#id33 {background-color: var(--vermelho);}
#id44 {background-color: var(--verde);}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--azulClaro);
    border-radius: 20px;
}