* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 500;
    background-color: #000227;
    color: #fff;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
h2 {
    font-size: 28px;
    font-weight: 600;
    margin-right: 11vw;
}
h3 {
    font-size: 14px;
    margin-right: 5vw;
}
p{
    font-size: 16px;
    word-spacing: 2px;
}
h2,h3 {
    cursor: pointer;
}

header {
    width: 93%;
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    align-items: center;
}

header .cabecalho {
    margin-top: 2vh;
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: center;
}

header .cabecalho .links {
    width: 80vw;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .cabecalho button {
    background-color: #0070FF;
    width: 7vw;
    height: 5vh;
    margin-right: 1vw;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px;
}

header .cabecalho .botoes /*div*/ {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}

header .cabecalho .botoes .login {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .conteudo1 {
    width: 90%;
    height: 300px;
    margin-top: 15vh;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

main .conteudo1 .imagem {
    width: 48vw;
    height: 27vw;
    margin-left: 10vw;
    margin-right: 5vw;
    border-radius: 40px;
    filter: drop-shadow(0px 0px 80px #0070FF);
}

main .conteudo1 .texto .start {
    background-color: #0070FF;
    width: 9vw;
    height: 5vh;
    margin-top: 3vh;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px;
}


main .conteudo2 {
    width: 90%;
    height: 35vh;
    margin: 17vw 5vw 3vw 5vw;
    border-radius: 15px;
    display: flex;
    gap: 4vw;
    align-items: center;
    background-color: #0F1B44; 
}

main .conteudo2 .divisao1 *, .divisao2 *, .divisao3 *, .divisao4 * {
    background-color: transparent;
}

main .conteudo2 .divisao1, .divisao2, .divisao3, .divisao4 {
    background-color: #0F1B44;
    height: 80%;
    width: 16vw;
    padding-left: 2vw;
    border-radius: 15px;
}

main .conteudo2 .divisao1 {
    margin-left: 2vw;
}

main .conteudo2 .imagem {
    width: 4vw;
    height: 4vw;
    border-radius: 30px;
    padding-top: 2vw;
    padding-left: 2vw;
}

main .conteudo2 .text1, .text3, .text4 {
    padding-left: 2vw;
    margin-bottom: 5px;
}

main .conteudo2 .text1, .text2, .text4{
    font-size: 16px;
}

main .conteudo2 .text1 {
    padding-top: 5px;
}

main .conteudo2 .text2{
    margin-left: 10px;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
}

main .conteudo2 .text3 {
    font-size: 29px;
}

main .conteudo2 .text4{
    margin-bottom: 1vh;    
}

main .conteudo2 .linhaporc {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}

#id11 {
    background-color: #EEC800;
}
#id22 {
    background-color: #FF7700;
}
#id33 {
    background-color: #D10300;
}
#id44 {
    background-color: #00BB1E;
}