* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 500;
    background-color: #000227;
    color: #fff;
}


h1 {
    font-weight: 600;
    font-size: 55px;
    padding-bottom: 10px;
}
h2 {
    font-size: 28px;
    font-weight: 600;
    margin-right: 11vw;
}
h3, input::placeholder, textarea::placeholder{
    color: #fff;
    font-size: 14px;
    margin-right: 5vw;
}
h2,h3 {
    cursor: pointer;
}
h4 {
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

header {
    width: 100%;
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    filter: drop-shadow(0px 0px 3px #00000077);
}

header .cabecalho {
    margin: 10px 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

header .cabecalho .links {
    width: 75vw;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .cabecalho button {
    background-color: #0070FF;
    width: 7vw;
    height: 5vh;
    margin-right: 1vw;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px;
}

header .cabecalho .botoes /*div*/ {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}

header .cabecalho .botoes .login {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
}

/* ------------------------------------ */

main {
    margin-top: 6vh;
    display: flex;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
}

main .conteudo {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 32rem;
    margin: 30px 5vw 0vh 0vw;
}

/* ------------------------------------ */

.conteudo input, .input_form5 {
    background-color: #17203D;
    font-weight: 400;
    border-radius: 5px;
}

.form1, .form2, .form3, .form4{
    position: relative;
    height: 2.5rem;
    margin-bottom: 1.4rem;
}
.form5{
    position: relative;
    height: 18vh;
}

.input_form1, .input_form2, .input_form3, .input_form4{
    width: 32rem;
    height: 2.5rem;
    padding-left: 1rem;
}
.input_form5 {
    width: 32rem;
    margin-bottom: 1.4rem;
    height: 15vh;
    padding-left: 1rem;
    resize: none;
}

.label_form1, .label_form2, .label_form3, .label_form4, .label_form5{
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
    background-color: transparent;
}
.input_form1:hover, .input_form2:hover, .input_form3:hover, .input_form4:hover, .input_form5:hover{
    border: 2px solid;
    border-color: #0070FF;
}
.input_form1:focus ~ .label_form1,
.input_form1:not(:placeholder-shown).input_form1:not(:focus) ~ .label_form1,
.input_form2:focus ~ .label_form2,
.input_form2:not(:placeholder-shown).input_form2:not(:focus) ~ .label_form2,
.input_form3:focus ~ .label_form3,
.input_form3:not(:placeholder-shown).input_form3:not(:focus) ~ .label_form3,
.input_form4:focus ~ .label_form4,
.input_form4:not(:placeholder-shown).input_form4:not(:focus) ~ .label_form4,
.input_form5:focus ~ .label_form5,
.input_form5:not(:placeholder-shown).input_form5:not(:focus) ~ .label_form5{
    top: -1.1rem;
    font-size: 0.7rem;
    left: 0.8rem;
}

/* ------------------------------------ */

main .conteudo .texto2 {
    display:flex; 
    flex-direction:row; 
    width: 33rem;
}

main .conteudo .texto2 .checkbox, span{
    display: flex;
    gap: 5px;
}

main .conteudo .texto2 .check input{
    transform: scale(1.5);
    margin: 0 5px;
}

main .conteudo .texto2 .check{
    display:flex; 
    flex-direction: row; 
    align-items: center;
    width: 25.3rem;
}

main .conteudo #btn-send {
    width: 9rem;
    height: 2.3rem;
    font-size: 16px;
    border-radius: 14px;
    cursor: pointer;
    background-color: #0070FF;  
}

main .imagem {
    width: 43vw;
    height: 27vw;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 60px #0070FF);
}